{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jazzmin tags %}

{% block select2 %}
    <script>
        // Make search filters select2 and ensure they work for filtering
        const $ele = $('.search-filter');
        $ele.search_filters();
        $ele.each(function () {
            const $this = $(this);
            $this.select2({ width: '100%', minimumInputLength: getMinimuInputLength($this) });
        });

        let tag_filter_selector = '[data-name="tags"]'
        $(tag_filter_selector).select2({
            width: '100%',
            placeholder: 'Tags'
        })
    </script>
{% endblock %}

{% block execution %}
<script>
    function after_save_result(exec_url, robot_server, data, start_button) {
        const table_cell = start_button.closest('td')
        const table_row = start_button.closest('tr')

        if (data.result === 'FAIL') {
            table_row.style.backgroundColor = '#ffcccc'
        }
        if (data.result === 'PASS') {
            table_row.style.backgroundColor = '#bdecbb'
        }

        const log_icon = '<i class="' + "{% icon 'exec_log' %}" + '"></i>'
        const log_url = robot_server + '/' + data.log
        const log_link = document.createElement('a')
        log_link.setAttribute('href', log_url)

        $(log_link).html(log_icon)
        $(log_link).on('click', function (e) {
            e.preventDefault()
            window.open(log_url, '_blank')
            $(table_cell).html(start_button)
        })

        $(table_cell).html(log_link)
    }
</script>
{% include "execution.html" %}
{% endblock %}

{% block execution_messages %}
{% include "execution_messages.html" %}
{% endblock %}
