{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jazzmin %}

{% block select2 %}
    <script>
        // Make search filters select2 and ensure they work for filtering
        const $ele = $('.search-filter');
        $ele.search_filters();
        $ele.each(function () {
            const $this = $(this);
            $this.select2({ width: '100%', minimumInputLength: getMinimuInputLength($this) });
        });

        let tag_filter_selector = '[data-name="tags"]'
        $(tag_filter_selector).select2({
            width: '100%',
            placeholder: 'Tags'
        })
    </script>
{% endblock %}

{% block execution %}
<script>
    function after_save_result(result, start_button) {
        if (result === 'FAIL') {
            start_button.closest('tr').style.backgroundColor = '#ffcccc'
        }
        if (result === 'PASS') {
            start_button.closest('tr').style.backgroundColor = '#bdecbb'
        }
    }
</script>
{% include "execution.html" %}
{% endblock %}

{% block execution_messages %}
{% include "execution_messages.html" %}
{% endblock %}
