*** Keywords ***
{%- for keyword in keywords.values() %}
{{ keyword.name }}
    [Arguments]        {{ keyword_arguments(keyword.args, keyword.kwargs) }}
    [Documentation]    {%- for line in keyword.doc|splitlines %}
    ...  {{ line }}
    {%- endfor %}

    {%- for step in keyword.steps %}
    {% if step.return_values %}{{ rf_join(step.return_values) }}    {% endif %}{% if step.condition %}IF   {{ step.condition }}    {% endif %}{{ call_keyword(step) }}
    {%- endfor %}
    {%- if keyword.return_values %}
    RETURN      {{ rf_join(keyword.return_values) }}
    {%- endif %}
{% endfor %}
