{% include 'settings_template.jinja' %}

{% if tables %}
{% include 'variables_template.jinja' %}
{%- endif %}

{% if keywords %}
{% include 'keywords_template.jinja' %}
{%- endif %}

{% include 'testcases_template.jinja' %}
