{% include 'settings_template.jinja' %}

{% if dict_variables or list_variables %}
{% include 'variables_template.jinja' %}
{%- endif %}

{% if keywords %}
{% include 'keywords_template.jinja' %}
{%- endif %}

*** Test Cases ***
{%- for testcase in testcases %}
{{ testcase.name }}
    {%- if testcase.doc %}
    [Documentation]    {%- for line in testcase.doc|splitlines %}
    ...  {{ line }}
    {%- endfor %}
    {%- endif %}
    {%- for step in testcase.steps %}
    {{ call_keyword(step) }}
    {%- endfor %}
{%- endfor %}
