*** Variables ***
{%- for name, dict_v in dict_variables %}
{{ name }}     {{ kwargs_list(dict_v) }}
{%- endfor %}

{%- for name, list_v in list_variables %}
{{ name }}     {{ rf_join(list_v) }}
{%- endfor %}
