{% extends "admin/change_form.html" %}

{% block select2 %}
<script type="text/javascript">
    // Always return the search term instead of filtering the select choices
    function matchCustom(params, data) {
        if (params.term) return params.term
        return data;
    }

    function applySelect2() {
        // Apply select2 to any select boxes that don't yet have it
        // and are not part of the django's empty-form inline
        const noSelect2 = '.empty-form select, .select2-hidden-accessible, .selectfilter, .selector-available select, .selector-chosen select, select[data-autocomplete-light-function=select2]';
        const selects = django.jQuery('select').not(noSelect2)

        selects.each(function (index, select) {
            let tags = select.getAttribute('data-tags')

            if (tags === 'true') {
                django.jQuery(select).select2({
                    width: 'element',
                    matcher: matchCustom
                });

                // Automatically fill the search field with the currently selected value
                django.jQuery(select).on('select2:open', function(e) {
                    const selected_value = django.jQuery(select).select2('data')[0]
                    const search_field = django.jQuery('.select2-search__field')

                    // selected_value.id is the value of the <option>
                    if (selected_value.id !== '')
                        search_field.val(selected_value.text)
                })
            }
            else {
                 django.jQuery(select).select2({
                    width: 'element',
                    minimumResultsForSearch: Infinity
                });
            }
        })
    }
</script>
{% endblock %}
