<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ "Robot Framework Log" | translate }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/rf_log/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/rf_log/static/fontawesome/css/all.min.css">
    <style>
        .fa-solid {
            color: #03224c;
        }

        .accordion-button:focus {
            box-shadow: none !important;
        }

        .no-accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
            font-size: 1rem;
            color: var(--bs-accordion-btn-color);
            text-align: left;
            background-color: #fff;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
        }

        .table {
            --bs-table-bg: none !important;
        }
    </style>
    <script src="/rf_log/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/rf_log/static/fontawesome/js/all.min.js"></script>
</head>
<body>
    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p class="navbar-brand">{{ "Robot Framework Log" | translate }}</p>
            <img src="{{logo}}" width="50px" class="navbar-brand d-none d-sm-block" alt="RF Logo">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 700px">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
                        <nav class="nav flex-column" id="list-tab" role="tablist">
                            <div class="accordion accordion-flush" id="testCases">
                            {% for testcase in rf.test_cases %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="testcase-{{ loop.index }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#testcase-{{ loop.index }}-steps" aria-expanded="false" aria-controls="testcase-{{ loop.index }}-steps">
                                            <span class="badge {% if testcase.status == 'FAIL' %}text-bg-danger{% elif testcase.status == 'PASS' %}text-bg-success{% endif %}">{{ testcase.status }}</span>
                                            <a class="nav-link" data-bs-toggle="list" href="#{{ testcase.id }}">
                                                {{ icon.testcase }} {{ testcase.name }}
                                            </a>
                                        </button>
                                    </h2>
                                    <div id="testcase-{{ loop.index }}-steps" class="accordion-collapse collapse" aria-labelledby="testcase-{{ loop.index }}">
                                        <div class="accordion-body">
                                            <div class="accordion accordion-flush" id="testSteps">
                                            {% for step_id in testcase.steps %}
                                                {% set step = rf.keywords[step_id] %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="teststep-{{ loop.index }}">
                                                        <button class="{% if step.kind == 'ACTION' %}no-accordion-button{% else %}accordion-button{% endif %} collapsed" type="button" {% if not step.kind == 'ACTION' %}data-bs-toggle="collapse"{% endif %} data-bs-target="#testStep-{{ loop.index }}-substeps" aria-expanded="true" aria-controls="testStep-{{ loop.index }}-substeps">
                                                            <span class="badge {% if step.status == 'FAIL' %}text-bg-danger{% elif step.status == 'PASS' %}text-bg-success{% elif step.status == 'NOT RUN' %}text-bg-info{% endif %}">{{ step.status }}</span>
                                                            <a class="nav-link" data-bs-toggle="list" href="#{{ step_id }}">
                                                                {% if step.kind == 'ACTION' %}{{ icon.action }}{% elif step.kind == 'SEQUENCE'%}{{ icon.sequence }}{% endif %} {{ step.name }}
                                                            </a>
                                                        </button>
                                                    </h2>
                                                    <div id="testStep-{{ loop.index }}-substeps" class="accordion-collapse collapse" aria-labelledby="teststep-{{ loop.index }}">
                                                        <div class="accordion-body">
                                                        {% for substep_id in step.steps %}
                                                            {% set substep = rf.keywords[substep_id] %}
                                                            {% if substep.kind == 'ACTION' or substep.kind == 'SEQUENCE' %}
                                                            <button class="no-accordion-button">
                                                                <span class="badge {% if substep.status == 'FAIL' %}text-bg-danger{% elif substep.status == 'PASS' %}text-bg-success{% elif substep.status == 'NOT RUN' %}text-bg-info{% endif %}">{{ substep.status }}</span>
                                                                <a class="nav-link" data-bs-toggle="list" href="#{{ substep_id }}">
                                                                    {% if substep.kind == 'ACTION' %}{{ icon.action }}{% elif substep.kind == 'SEQUENCE'%}{{ icon.sequence }}{% endif %} {{ substep.name }}
                                                                </a>
                                                            </button>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </nav>

<div class="tab-content mt-3" id="nav-tabContent">
{% for testcase in rf.test_cases %}
    <div class="tab-pane fade container p-3" id="{{ testcase.id }}">
        {% for error in rf.errors.values() %}
        <div class="container border border-danger rounded p-3 mb-4">
            <div class="col">
                <span class="badge {% if error.level == 'ERROR' %}text-bg-danger{% elif error.level == 'INFO' %}text-bg-info{% endif %}">{{ error.level }}</span>
                <a href="#{{ error.id }}">{{ error.message }}</a>
            </div>
        </div>
        {% endfor %}
        <h3>
            <div class="d-flex justify-content-between">
                <div>
                    {{ testcase.name }} <span class="badge {% if testcase.status == 'PASS' %}text-bg-success{% else %}text-bg-danger{% endif %}">{{ testcase.status }}</span>
                </div>
                <div>
                    <a class="btn" onclick="showSaveFilePicker({suggestedName: '{{ testcase.name }}.html'})">
                        {{ icon.download }}
                    </a>
                </div>
            </div>
        </h3>
        <div class="row pt-3 pb-3">
            <div class="col"><b>{{ "Start time" | translate }}</b> {{ testcase.start_time }}</div>
            <div class="col"><b>{{ "Elapsed time" |translate }}</b> {{ testcase.elapsed_time }}</div>
        </div>

        {% for step_id in testcase.steps %}
        {% set step = rf.keywords[step_id] %}
        <div class="row p-3 rounded-top {% if step.status == 'PASS' %}bg-success-subtle{% elif step.status == 'FAIL' %}bg-danger-subtle{% else %}bg-light{% endif %}" {% if step.message in rf.errors %}id="{{ rf.errors[step.message].id }}" style="scroll-margin-top: 80px;"{% endif %}>
            <div class="col-4">
            {% if step.url %}
                <a href="#" class="text-decoration-none" onclick="clickNavLink('#{{ step_id }}')">{{ step.name }}</a>
                <a href="{{ step.url }}" target="_blank" class="text-decoration-none" style="margin-left: 3px">{{ icon.go_to }}</a>
            {% else %}
                {{ step.name }}
            {% endif %}
            </div>
            {% if step.args|length > 6 %}
                <div class="col">
                    <table class="table">
                        {% for arg_name, arg in step.args.items() %}
                            <tr><td><i style="color: gray">{{ arg_name }}</i></td><td>{{ arg }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {% for arg_name, arg in step.args.items() %}
                <div class="col">
                    <span>{{ arg }}</span>
                    <br>
                    <i style="color: gray">{{ arg_name }}</i>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row p-3 border">
            <div class="col">
                {% for name, value in step.return_values.items() %}
                <div class="row p-1">
                    <div class="col-4">{{ name }}</div>
                    <div class="col">
                        {% if value is mapping %}
                        <table class="table">
                        <tbody>
                            {% for key in value %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value[key]|replace("\r\n\r\n", "\r\n")|replace("\r\n", "<br>") }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row p-3 mb-3 rounded-bottom bg-light">
            <div class="col" style="word-break: break-all">
            <span class="badge {% if step.status == 'FAIL' %}text-bg-danger{% elif step.status == 'PASS' %}text-bg-success{% else %}text-bg-info{% endif %}">{{ step.status }}</span>
            {{ step.message }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}

{% for keyword in rf.keywords.values() %}
    <div class="tab-pane fade container p-3" id="{{ keyword.id }}">
        <a href="#" onclick="clickNavLink('#{{ keyword.parent_id }}')">{{ icon.go_back }}</a>
        {% if keyword.message in rf.errors %}
            {% set error = rf.errors[keyword.message] %}
            <div class="container border border-danger rounded p-3 mb-4">
                <div class="col">
                    <span class="badge text-bg-danger">{{ keyword.status }}</span>
                    <a href="#{{ keyword.id }}{{ error.id }}">{{ error.message }}</a>
                </div>
            </div>
        {% endif %}

        <h3 class="mt-3">
            {% if keyword.kind == 'ACTION' %}
            {{ icon.action }}
            {% endif %}
            {% if keyword.kind == 'SEQUENCE' %}
            {{ icon.sequence }}
            {% endif %}
            <a href="{{ keyword.url }}" target="_blank" class="text-decoration-none">{{ keyword.name }}</a>
            <span class="badge {% if keyword.status == 'PASS' %}text-bg-success{% else %}text-bg-danger{% endif %}">{{ keyword.status }}</span>
        </h3>
        <div class="row pt-3 pb-3">
            <div class="col"><b>{{ "Start time" | translate }}</b> {{ keyword.start_time }}</div>
            <div class="col"><b>{{ "Elapsed time" | translate }}</b> {{ keyword.elapsed_time }}</div>
        </div>

        {% for step_id in keyword.steps %}
        {% set step = rf.keywords[step_id] %}
        <div class="row p-3 rounded-top {% if step.status == 'PASS' %}bg-success-subtle{% elif step.status == 'FAIL' %}bg-danger-subtle{% else %}bg-light{% endif %}" {% if step.message in rf.errors %}id="{{ keyword.id }}{{ rf.errors[step.message].id }}" style="scroll-margin-top: 80px;"{% endif %}>
            <div class="col-3" style="word-break: break-all">
            {% if step.url %}
                <a href="#" class="text-decoration-none" onclick="clickNavLink('#{{ step_id }}')">{{ step.name }}</a>
                <a href="{{ step.url }}" target="_blank" class="text-decoration-none" style="margin-left: 3px">{{ icon.go_to }}</a>
            {% else %}
                {{ step.name }}
            {% endif %}
            </div>
            {% if step.args|length > 6 %}
                <div class="col">
                    <table class="table">
                        {% for arg_name, arg in step.args.items() %}
                            <tr><td><i style="color: gray">{{ arg_name }}</i></td><td>{{ arg }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {% for arg_name, arg in step.args.items() %}
                <div class="col">
                    <span>{{ arg }}</span>
                    <br>
                    <i style="color: gray">{{ arg_name }}</i>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row p-3 border">
            <div class="col">
                {% for name, value in step.return_values.items() %}
                <div class="row p-1">
                    <div class="col-3">{{ name }}</div>
                    <div class="col">
                        {% if value is mapping %}
                        <table class="table">
                        <tbody>
                            {% for key in value %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value[key]|replace("\r\n\r\n", "\r\n")|replace("\r\n", "<br>") }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row p-3 mb-3 rounded-bottom bg-light">
            <div class="col" style="word-break: break-all">
            <span class="badge {% if step.status == 'FAIL' %}text-bg-danger{% elif step.status == 'PASS' %}text-bg-success{% else %}text-bg-info{% endif %}">{{ step.status }}</span>
            {% for message in step.messages %}
                {{ message }}<br>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
<script type="text/javascript">
    function clickNavLink(href) {
        document.querySelector(`#testCases a[href="${href}"]`).click()
    }

    function clickFirstNavLink() {
        let firstButton = document.querySelector('#testCases button:first-child')
        if (firstButton.classList.contains('collapsed')) {
            firstButton.querySelector('a').click()
        }
    }

    window.addEventListener("load", clickFirstNavLink)
</script>
</body>
</html>