{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrajs %}
{{ block.super }}
<script>
    $(document).ready(function () {
        if (!document.location.hash) {
           $('a:contains("{% trans "Werte" %}")').click()
        }
    })
</script>
{% endblock %}

{% block formset_added %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        document.addEventListener('formset:added', function(event) {
            const row = django.jQuery(event.target)
            const selects = django.jQuery('select', row)
            const inputs = django.jQuery('input[type="text"]', row)

            if (inputs.length > 1) {
                $('a.save-row').show()
            }

            selects.on('change', function(event) {
                $('.button-save').click()
            })
        })
    })
</script>
{% endblock %}
