{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrajs %}
{{ block.super }}
<script>
    $(document).ready(function () {
        if (!document.location.hash) {
           $('a:contains("{% trans "Werte" %}")').click()
        }

        $('a.save-row').show()
    })
</script>
{% endblock %}

{% block on_formset_added %}
<script type="text/javascript">
    function onFormsetAdded(event) {
        const row = django.jQuery(event.target)
        const selects = django.jQuery('select', row)
        const inputs = django.jQuery('input[type="text"]', row)

        if (inputs.length > 1) {
            $('a.save-row').show()
        }

        selects.on('change', function(event) {
            $('.button-save').click()
        })
    }
</script>
{% endblock %}
