{% load i18n admin_urls jazzmin tags %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block object-tools-items %}
    {% if change_lock %}
    <div class="form-group" style="display: inline-flex; margin-right: 5px">
        <a href="{{ request.path }}?{{change_lock.next_state}}">
            <span class="icon-wrapper">
                <i class="action-icon {% icon change_lock.icon %}"></i>
            </span>
        </a>
    </div>
    {% endif %}

    {% if include_duplicate_object_link %}
    <div class="form-group" style="display: inline-flex; margin-right: 5px">
        <a href="{{ request.path }}?duplicate=true" class="clone-link">
            <span class="icon-wrapper">
                <i class="action-icon {% icon 'clone' %}"></i>
            </span>
        </a>
    </div>
    {% endif %}

    {% if split_sequence %}
    <div class="form-group" style="display: inline-flex; margin-right: 5px">
        <a id="split-button" href="{{ request.path }}?split">
            <span class="icon-wrapper">
                <i class="action-icon {% icon 'split_sequence' %}"></i>
            </span>
        </a>
    </div>
    <script>
        django.jQuery('#split-button').on('click', function (e) {
            e.preventDefault()
            window.location = this.getAttribute('href') + window.location.hash
        })
    </script>
    {% endif %}
{% endblock %}
