{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block content_title %} {% trans 'Dashboard' %} {% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% get_side_menu using="app_list" as dashboard_list %}
    {% if dashboard_list %}
        {% widthratio dashboard_list|length 2 1 as middle %}
    {% endif %}

    <div class="col-lg-9 col-12">
        <div class="models">
            {% for app in dashboard_list %}
                {% if forloop.counter0|divisibleby:"2" %}
                    <div class="row">
                {% endif %}
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            {% with model=app.models|first %}
                            <a href="{{ model.url }}" id="{{ model.name|lower }}" style="font-size: 28px; width: 100%; display: block">
                                <i class="app-icon {{ model.icon }}" style="width: 100px"></i>
                                {{ model.name }}
                            </a>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% if not forloop.counter0|divisibleby:"2" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
