<div class="alert alert-warning alert-dismissible hidden" id="error-message">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="icon fa fa-exclamation-triangle" aria-hidden="true"></i>
    <span id="error-text"></span>
</div>
<div class="alert alert-info alert-dismissible hidden" id="info-message">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="icon fa fa-info" aria-hidden="true"></i>
    <span id="info-text"></span>
</div>
