{% load i18n %}
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
        {% for option in group_choices %}
            {% include option.template_name with widget=option %}
        {% endfor %}
        {% if group_name %}
        </optgroup>
        {% endif %}
    {% endfor %}
</select>
<script>
    function status(value) {
        const status_icon = {
           'EXECUTE': "fa-solid fa-square-check",
           'DO_NOT_EXECUTE': "fa-solid fa-square-minus",
           'BEGIN_EXECUTION': "fa-solid fa-arrow-right-from-bracket",
           'END_EXECUTION': "fa-solid fa-arrow-right-to-bracket"
        };

        return status_icon[value];
    }

    function translate(value) {
        const translate = {
            'EXECUTE': "{% trans 'Ausführen' %}",
            'DO_NOT_EXECUTE': "{% trans 'Überspringen' %}",
            'BEGIN_EXECUTION': "{% trans 'Ausführen ab' %}",
            'END_EXECUTION': "{% trans 'Ausführen bis' %}",
        }

        return translate[value];
    }

    function formatResult(data) {
        const template = `<span title="${translate(data.text)}"><i class="${status(data.text)}"></i></span>`
        return $(template)
    }

    function formatSelection(data) {
        const $template = django.jQuery(`<span title="${translate(data.text)}"><i></i><span></span></span>`)
        $template.find('i').addClass(status(data.text))
        return $template
    }

    django.jQuery('#id_{{ widget.name }}').select2({
        minimumResultsForSearch: Infinity,
        templateResult: formatResult,
        templateSelection: formatSelection,
        width: 'element'
    })
</script>